#menu-drawer {
  position: absolute;
  top: 71;
  left: 0;
  border-top-right-radius: var(--border-radius-menu-drawer);
}

.menu-drawer__icon-close {
  color: rgb(var(--color-foreground));
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position-manual, 100%))
  );
}

.js .menu-drawer {
  height: calc(
    var(--viewport-height, 100vh) - (var(,--header-bottom-position-manual 100%))
  );
}

.menu-drawer__navigation {
  padding-bottom: 5.6rem 0;
}

