#menu-drawer {
  position: absolute;
  top: 71;
  left: 0;
  border-top-right-radius: var(--border-radius-menu-drawer);
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position-manual, 100%))
  );
}

.js .menu-drawer {
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position-manual, 100%))
  );
}