/* section-header */
#shopify-section-header-transparent {
  z-index: 3;
}

.shopify-section-header-sticky {
  position: sticky;
  top: 0;
}

/* .shopify-section-header-hidden {
  transform: translateY(-100%);
} */

/* #shopify-section-header-transparent.animate {
  transition: transform 0.15s ease-out;
} */

/* Main Header Layout */
#header-transparent {
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
  transition: background-color 0.4s ease-out;
}
#header-transparent.animate {
  background: transparent;
  background-color: rgb(var(--color-background));
}
.header-wrapper {
  position: absolute;
  width: 100%;
  /* background-color: rgb(var(--color-background)); */
}

.header-wrapper--border-bottom {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.header__menu-item {
  color: rgba(var(--color-background), 0.75);
}
#header-transparent.animate .header__menu-item {
  color: rgba(var(--color-foreground), 0.75);
}


.header__menu-item:hover {
  color: rgb(var(--color-background));
}
#header-transparent.animate .header__menu-item:hover {
  color: rgb(var(--color-foreground));
}

.header__active-menu-item {
  color: rgb(var(--color-background));
}
#header-transparent.animate .header__active-menu-item {
  color: rgb(var(--color-foreground));
}

.header__icon {
  color: rgb(var(--color-background));
}
#header-transparent.animate .header__icon {
  color: rgb(var(--color-foreground));
}